.contactFormContainer {
  display: flex;
  width: 90%;
  background-color: #888888;
  .items {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 380px;
    margin: 0 auto;
    font-size: 20px;
    .formTitle {
      padding-left: 10px;
    }
  }
  .contactFormWrapper {
    width: 100%;
    @include flex-start;
    flex-direction: column;
    .formTitle {
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      padding-left: 25px;
    }
    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      padding: 0;
      .contactFormInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-left: 20px;

        .inputWrapper {
          display: flex;
          padding: 5px;
        }
        .formInput {
          min-height: 50px;
          @include formInput;
          opacity: 0.6;
          filter: alpha(opacity=60);
        }
        .messageTextArea {
          min-height: 100px;
          padding-top: 15px;
          @include formInput;
          opacity: 0.6;
          filter: alpha(opacity=60);
        }
      }
      .button {
        height: 40px;
        width: 15%;
        opacity: 1;
        color: $textColor;
        margin-top: 20px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: $navigationScroll;
        text-align: center;
        &:hover {
          color: $generalColor;
        }
      }
      ::placeholder {
        color: $black;
        padding-left: 10px;
        font-size: 20px;
      }
    }
  }
}
