.contactFormContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;

  .items {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 360px;
    margin: 0 auto;
    font-size: 20px;
  }
  .contactFormWrapper {
    width: 100%;

    @include flex-start;
    flex-direction: column;
    .formTitle {
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
    }
    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      padding: 0;
      .contactFormInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .inputWrapper {
          display: flex;
        }
        .formInput {
          min-height: 50px;
          @include formInput;
        }
        .messageTextArea {
          min-height: 100px;
          padding-top: 15px;
          @include formInput;
        }
      }
      .button {
        height: 50px;
        width: 20%;
        opacity: 1;
        color: $textColor;
        margin-top: 20px;
        outline: none;
        border: none;
        background-color: $navigationScroll;
        &:hover {
          color: $generalColor;
        }
      }
      ::placeholder {
        color: $black;
        padding-left: 10px;
        font-size: 20px;
      }
    }
  }
}
