.socialMedia {
  width: 50%;
  margin: 0 auto;
  height: 410px;
  background-image: url(../images/formphotos/13.jpeg);
  background-size: cover;
  background-position: center;
  padding-left: 40px;
  .social {
    display: flex;
    justify-content: center;
    padding-top: 270px;
    .linkIcon {
      background-image: linear-gradient(
        to right top,
        #f89b0a,
        #c7b416,
        #95c44a,
        #61ce7e,
        #26d2af,
        #1ed5b5,
        #13d9bb,
        #00dcc1,
        #4ee09c,
        #85e171,
        #bbdd43,
        #f2d313
      );
      // background-color: $navigationScroll;
      font-size: 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      margin-right: 40px;
      .svgIcon {
        fill: $textColor;
        width: 25px;
        height: 25px;
        &:hover {
          fill: $black;
        }
      }
    }
  }
  .email {
    display: flex;
    align-items: flex-end;
    font-size: $navigationText;
    color: $textColor;
    font-family: "Dancing Script", cursive;
  }
}
