.socialMedia {
  width: 50%;
  margin: 0 auto;
  height: 390px;
  background-image: url(../images/formphotos/13.jpeg);
  background-size: cover;
  background-position: center;
  padding-left: 50px;
  .social {
    display: flex;
    justify-content: center;
    padding-top: 260px;
    .linkIcon {
      background-color: $navigationScroll;
      font-size: 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      margin-right: 40px;
      .svgIcon {
        fill: $textColor;
        width: 25px;
        height: 25px;
        &:hover {
          fill: #46d1d9;
        }
      }
    }
  }
}
.emailPost {
  height: 400px;
  width: 300px;
}
.email {
  display: flex;
  align-items: flex-end;
  padding-left: 200px;
  font-size: $navigationText;
  color: $black;
}
