$textColor: #fff;
$black: #000;
$navigationScroll: #363537;
$aboutMeBackground: #2f1e28;
$inputBorder: #ddd;
$inputColor: #888;
$generalColor: #d89216;

$navigaionFontSize: 35px;
$navigationText: 25px;
$sectionTitleFontSize: 40px;
